@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body  {
    font-family: "Poppins", serif;
  }

  .heading1 {
    @apply text-black text-[72px] md:max-lg:text-[58px] max-md:text-[40px] text-center font-semibold leading-[1.2] tracking-tight 
  }

  .heading2 {
    @apply text-black text-[50px] md:max-lg:text-[42px] max-md:text-[32px] font-semibold leading-[1.2] tracking-[0.03em]
  }

  .heading3 {
    @apply text-black text-[24px] md:max-lg:text-[20px] max-md:text-[20px] font-semibold leading-[1.4] tracking-[0.02em]
  }

  .heading4 {
    @apply text-[20px] md:max-lg:text-[16px] max-md:text-[16px] font-semibold leading-[1.4em] tracking-[0.04em]
  }

  .p1 {
    @apply text-black font-inter text-[16px] font-medium leading-[1.2] tracking-[0.01em]
  }

  .p2 {
    @apply text-black font-inter text-[16px] leading-[1.8] tracking-normal
  }

  .radial {
    background: rgb(238,70,178);
background: radial-gradient(circle, rgba(238,70,178,1) 35%, rgba(255,255,255,1) 100%);
  }

  /* Balon */
.balloon {
  width: 50px;
  height: 70px;
  background: radial-gradient(circle, rgb(123, 105, 255) 50%, #ff14d8); /* Warna balon */
  border-radius: 50% 50% 60% 60%; /* Bentuk balon */
  position: absolute;
  bottom: -100px; /* Mulai di bawah layar */
  animation: float 5s ease-in-out infinite;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
}

/* Animasi mengambang */
@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}


}
