@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", serif;
  }

  .heading1 {
    @apply text-black text-[72px] md:max-lg:text-[58px] max-md:text-[40px] text-center font-semibold leading-[1.2] tracking-tight
  }

  .heading2 {
    @apply text-black text-[50px] md:max-lg:text-[42px] max-md:text-[32px] font-medium leading-[1.2] tracking-tight max-md:text-center
  }

  .heading3 {
    @apply text-black text-[24px] md:max-lg:text-[20px] max-md:text-[20px] font-semibold leading-[1.4] tracking-[0.02em]
  }

  .heading4 {
    @apply text-[20px] md:max-lg:text-[16px] max-md:text-[16px] font-semibold leading-[1.4em] tracking-[0.04em]
  }

  .p1 {
    @apply text-black font-inter text-[16px] font-medium leading-[1.2] tracking-[0.01em] max-md:text-center
  }

  .p2 {
    @apply text-black font-inter text-[16px] leading-[1.8] tracking-normal max-md:text-center
  }

  .radial {
    background: radial-gradient(at center, #ff49de, #FFFFFF);
  }

  .radial2 {
    background: rgb(129, 79, 255);
    background: radial-gradient(circle, rgba(129, 79, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
  }



  .rotate-right {
    transform: perspective(1200px) rotateY(20deg);
    transform-origin: center;
    transition: transform 0.6s ease, skew 0.6s ease;
  }

  .rotate-left {
    transform: perspective(1200px) rotateY(-20deg);
    transform-origin: center;
    transition: transform 0.6s ease, skew 0.6s ease;
  }

  /* .rotate-right:hover , .rotate-right:hover {
    transform: rotateX(0deg);
  } */

  .grid-offer {
   @apply grid grid-cols-3 md:max-xl:grid-cols-2 max-md:grid-cols-1 gap-[30px]
  }

  .section-padding {
    @apply pt-[96px] px-[60px] md:max-lg:py-[80px] md:max-lg:px-[40px] max-md:py-[60px] max-md:px-[10px]
  }

  .tilt-3d {
    transform: perspective(1200px) rotateY(0deg);
    /* Sudut awal 3D */
    transform-origin: center;
    /* Titik asal transformasi */
    transition: transform 0.6s ease;
    /* Transisi untuk animasi */
  }

  .tilt-3d:hover {
    transform: perspective(1200px) rotateY(20deg) rotateZ(5deg);
    /* Tambahkan perspective untuk hover */
  }

}